<form action="signin">
    <input type="email" name="email" placeholder="Insert Email">
    <input type="password" name="password" placeholder="Insert Pass">
    <button type="submit">Signin</button>
</form>